// unique colors

$white: #ffffff;
$coolRed: rgb(145, 49, 49);

$grayForTableHead: #f7f7f7;
$lightGray: #f3f3f3;
$lightGray7a: #f3f3f307;
$coolBack: #fafafa;
$coolBack2: #e5e5e5;
$coolBack3: #f3f3f3b3;
$gray100: #e1e1e1;
$gray200: #c4c4c4;
$gray400: #9e9e9e;
$gray500: #858585;
$mediumGray: #808080;
$grayForTableHeadText: #7c7c7c;
$gray600: #626262;
$grayForTableText: #515151;

$blue100: #e7f0fb;
$blue500: #0967d2;
$blue600: #085ebf;
$blue500a: #0967d259;
$blue500a10: #0967d210;
$blue2: #0552b5;
$blue3: #e6f6ff;

$black: #000;
$black17: #111111;

$blackyBlue: #373f41;

$lightGreen: #e3f9e5;
$darkGreen: #0e7817;
$brightRed: #e12d39;

$brightYellow: #ffc043;
$spanishGreen: #048848;

$transparent: #fff0;

$brown: #5c472e;

$errorRed: #e11900;

$transparentBlack: #0000001f
